@media (max-width: 600px) {
  @font-face {
    font-family: "Monument";
    src: url("./Fonts/MonumentExtended-Regular.otf");
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monument";
  }

  html,
  body {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    scroll-behavior: smooth;
    overflow-y: auto;
  }

  main {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 0.1px 0;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  nav {
    height: 8vh;
    margin-top: 2.5vh;
    justify-content: space-between;
    padding: 0 3vw;
  }
  nav h1 {
    width: 30%;
  }

  nav h1::after {
    top: 0.4vh;
    left: 28.5vw;
  }

  nav h1::before {
    bottom: 1vh;
    right: 0.1vw;
  }

  nav h2 {
    display: none;
  }

  nav h3 {
    display: block;
  }

  .page1 {
    height: 50%;
    padding: 2.5vh 2.5vw;
  }
  .overlay {
    height: 35%;
    padding: 3vh 3vw;
  }

  .over1 {
    margin-bottom: 0.5vh;
  }

  .over1 h1 {
    letter-spacing: 0.2vw;
  }

  .over1 h2 {
    padding: 1.5vw;
  }

  .over2 {
    padding: 1.5vw 0;
  }

  .over2 h1 {
    font-size: 1.5vw;
    font-weight: 400;
  }

  .over2 img {
    width: 3vw;
    aspect-ratio: 1;
  }

  .scroll {
    height: 20vh;
    padding: 2.5vh 0;
  }

  .container {
    width: 150%;
    height: 10vh;
  }
  .profile img {
    height: 10vh;
  }

  .profileInfo h5 {
    font-size: 1.2vh;
  }

  .nav2 {
    height: 8vh;
    margin: 2.5vh 0;
    padding: 0 2.5vw;
    gap: 2.5px;
  }

  .nav2 h5 {
    font-size: 2vh;
    margin-right: 1.5vw;
  }
  .nav2 h6 {
    font-size: 1vh;
  }

  .nav2 h6:hover {
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .page2 {
    width: 100%;
    height: 50%;
    padding: 2.5vh 2.5vw;
    flex-direction: column;
  }

  .page2 .left {
    display: none;
  }
  .page2 .right {
    width: 100%;
    height: 80vh;
  }

  .page2 .right .info {
    flex-direction: column;
  }

  .page2 .right .info h3 {
    margin-top: 2.5vh;
    width: 100%;
  }

  .page2 .right .info p {
    margin-top: 2.5vh;
    width: 100%;
  }

  .page3 {
    height: 100%;
    margin-top: 30vh;
    padding: 2.5vh 2.5vw;
  }

  .page3 .content3 {
    height: calc(100% - 2.5vh - 30vh);
  }

  .page3 .content3 h2 {
    font-size: 4vh;
    margin-bottom: 2.5vh;
  }

  .page3 .content3 .cont {
    flex-direction: column-reverse;
  }

  .page3 .content3 .cont .left {
    width: 100%;
    align-items: start;
  }

  .move .logo img {
    display: none;
  }

  .emblem {
    display: none;
  }

  .page3 .content3 .cont .left .info p {
    width: 100%;
    font-size: 2vh;
    font-weight: 100;
  }

  .page3 .content3 .cont .right {
    width: 100%;
  }

  .page4 {
    width: 100%;
    height: 50%;
    padding: 2.5vh 2.5vw;
    margin-top: -25vh;
  }

  .page5 {
    width: 100%;
    height: 50%;
    padding: 2.5vh 2.5vw;
    margin-top: -5vh;
  }

  .page5 h1 {
    margin: 2.5vh;
  }

  .page5 .elem {
    height: 9vh;
    padding: 0 2.5vh;
  }

  .page5 .elem img {
    display: none;
  }

  .page5 .elem h2 {
    width: 50%;
    font-size: 1.5vh;
    line-height: 2vh;
  }

  .page5 .elem .elem-left {
    width: 100%;
  }

  .page5 .elem .elem-left h3 {
    font-size: 1.75vh;
    line-height: 1.75vh;
  }

  .page5 .elem .elem-left h5 {
    font-size: 1vh;
  }

  .page6 {
    padding: 0 2.5vw;
  }

  .page6 .left {
    display: none;
  }

  .page6 .right {
    width: 100%;
  }

  .page6 .right .right-top {
    height: 20%;
    padding: 2vh 0;
  }

  .page6 .right .right-top h4 {
    padding-top: 3vh;
    font-size: 2vh;
  }

  .page6 .right .right-top p {
    padding-top: 2.5vh;
    font-size: 1.5vh;
  }

  .page6 .right .right-bottom {
    height: 65%;
    align-items: start;
    justify-content: space-between;
  }

  .page6 .right .right-bottom .left {
    width: 50%;
    height: 60%;
    display: block;
  }

  .page6 .right .right-bottom .right {
    width: 40%;
    height: 60%;
    display: block;
  }
  .scroll2 {
    padding-top: 32.5vh;
  }
  .scroll2 h2 {
    font-size: 8vh;
  }

  .page9 {
    padding: 2.5vh 2.5vw;
    padding-top: 30vh;
    flex-direction: column;
  }
  
  .page9 .left h2 {
    font-size: 5vh;
    letter-spacing: 0.5vh;
  }
  
  .page9 .center {
    width: 100%;
  }
  
  .page9 .center p {
    font-size: 1.5vh;
  }
  
  .page9 .center p::first-letter {
    padding: .5vh 1vw;

  }
  
  .page9 .center .image {
    margin: 2.5vh 0;
  }
  
  .page9 .right {
    width: 100%;
  }
  
  .page9 .right p {
    font-size: 1.5vh;
  }
  
  .page9 .right p::first-letter {
    padding: .5vh 1vw;
  }
  
  .page9 .right .image {
    margin: 2.5vh 0;
  }
  
  footer{
    margin-top: 27vh;
    gap: 1vh;
  }
  
  footer .social{
    gap: 1vh;
  }
  
  footer .social h5{
    font-size: 2vh;
    font-weight: 900;
  }
  
  footer .content p{
  font-size: 1.5vh;
  }
}
